<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Servlets ejemplo</display-name>
    <description>
        Servlets de ejemplo para practicar
    </description>

    <!-- Publicamos nuestro servlet aqui -->

    <servlet>
        <servlet-name>ParamServlet</servlet-name>
        <servlet-class>ParamServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ParamServlet</servlet-name>
        <url-pattern>/ParamServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CrearSession</servlet-name>
        <servlet-class>CrearSession</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CrearSession</servlet-name>
        <url-pattern>/CrearSession</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VerSession</servlet-name>
        <servlet-class>VerSession</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>VerSession</servlet-name>
        <url-pattern>/VerSession</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DataBaseServlet</servlet-name>
        <servlet-class>DataBaseServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DataBaseServlet</servlet-name>
        <url-pattern>/DataBaseServlet</url-pattern>
    </servlet-mapping>

    <!-- Fin de la publicacion de servlets -->
</web-app>